{% extends 'photos/main.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        Categories
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                        <a href="{% url 'gallery' %}">All</a>
                        </li>
                        {% for category in categories %}
                        <li class="list-group-item"><a href="{% url 'gallery' %}?category_clicked={{category.name}}">{{category.name}}</a></li>
                        {% endfor %}
                        <a class="btn btn-block btn-dark btn-sm m-1" href="{% url 'add' %}">Add Photo</a>
                    </ul>
                    </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    {% for photo in photos %}
                    <div class="col-md-4">
                        <div class="card my-2">
                            <img class="image-thumbail" src="{{photo.image.url}}" class="image-thumbnail" alt="...">
                            <div class="card-body">
                                <small>Category: {{photo.category}}</small>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <a style="width:46%" href="{% url 'photo' photo.id %}" class="btn btn-outline-dark btn-sm m-1">View</a>
                                    <a style="width:46%" href="{% url 'delete' photo.id %}" class="btn btn-danger btn-sm m-1">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}