{% extends 'photos/main.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <a href="{% url 'gallery' %}" class="btn btn-dark my-3">Go Back</a>
                <div style="height: 90vh; width:90vh">
                    <img style="max-height:100%; max-width:100%" src="{{photo.image.url}}">
                    <p>{{photo.description}}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}